#homeimage{
	width:95%;
	display:flex;
	margin:auto;
	height:75vh;
	margin-bottom:3vh;
}
#homeimage img{
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	display: block;
	border-radius:10px;
	margin-top:2vh;
}

#linkcontainer{
	background: #040F0F;
	height: 5vh;
	width:100%;
	margin:auto;
	display:flex;
	justify-content:space-around;
	align-items:center;
}
#bottomcontainer{
	width:100%;
	height:30vh;
	display:flex;
	justify-content:space-evenly;
}
.botcontainers{
	font-size:120%;
	width: 50%;
	height: 20vh;
	margin-top:10vh;
	display:flex;
	justify-content:center;
	align-items:center;
	text-decoration:none;
	color: #2D3A3A;
	text-align:center;
}
#bottom1{
	background: #ff9900;
}
#bottom2{
	background: #cc6600;
}
#bottom1:hover{
	background-color: #ffff00;
}
#bottom2:hover{
	background-color: #ffff00;
}

.links{
	width:30%;
	text-align:center;
	position:relative;
	display:inline-block;
}
.dropdowncontent{
	margin-left:5vw;
	display:none;
	position:absolute;
	background-color:#f9f9f9;
	min-width:160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding:12px 16px;
	z-index:1;
}
.links:hover .dropdowncontent{
	display:block;
}
.dropdowncontent a{
	padding:12px 16px;
	color:black;
	text-decoration:none;
	display:block;
}
.dropdowncontent a:hover {
	background-color: #4dff4d;
}
.links h3{
	color: #2BA84A;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000;
	margin:auto;
	font-size:150%;
	opacity:1.0;
}

@media only screen and (max-width: 1000px){
	.links h3{
		font-size:100%;
		padding-top:2%;
	}
}
@media only screen and (max-width: 850px){
	#bottomcontainer{
		flex-direction:column;
		align-items:center;
		height:450px;
		margin-top:3vh;
	}
	.botcontainers{
		width:100%;
		margin:0;
	}
	.botcontainers{
		height:400px;
	}
	.dropdowncontent{
		min-width:50px;
		width:100%;
		margin:0;
	}
	#linkcontainer{
		display:block;
		border:none;
		background:none;
	}
	.links{
		width:100%;
		background: #040F0F;
		border:2px solid #2BA84A;
		border-radius:10px;
		margin-bottom:2vh;
		margin-top:1vh;
	}
	#homeimage{
		display:block;
		margin-top:150px;
	}
}