#photos{
	height:500px;
	width:100%;
}
#row1,#row2{
	display:flex;
	height:47.2%;
	width:85%;
	margin-bottom:2px;
	margin-left:7.5%;
}
#content{
	display:flex;
	justify-content:space-evenly;
	width:100%;
}
#box1, #box2{
	width:50%;
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-top:4vh;
}
h2{
	color: #248232;
	margin-bottom:2vh;
}
li{
	margin-top:1vh;
}
p{
	text-align:center;
	margin-top:4vh;
}
img{
	min-height:100%;
	min-width:50%;
	z-index:-1;
	border-radius:5px;
	margin:2px;
}
@media only screen and (max-width: 850px){
	#row1,#row2{
		flex-direction: column;
	}
	img{
		min-width:90%;
	}
	#photos{
		height:60vh;
	}
	#content{
		flex-direction:column;
		margin-top:200px;
		align-items:center;
	}
	h2{
		font-size:120%;
	}
}